@import './../../scss/colors.scss';

.c-navbar-container{
    display: flex;
    width: 100vw;
    height: 8vh;
    box-shadow: 0 -5px 5px 0px rgba(18, 19, 22, 0.2);
    align-items: center;
    justify-content: center;
    & ul {
        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80vw;
        align-content: center;
    }
    & li {
        display: flex;

    }

}


.c-navbar-button {
    display: flex;
    &__home {
        width: 30px;
        height: 30px;
        background-image: url(../../../public/assets/icons/home.png); 
        background-position: center;
        background-size: contain;
        background-color: transparent;
        
    }
    &__map {
        width: 30px;
        height: 30px;
        background-image: url(../../../public/assets/icons/mapnav.png); 
        background-position: center;
        background-size: contain;
        background-color: transparent;
        
    }
    &__adopt {
        width: 30px;
        height: 30px;
        background-image: url(../../../public/assets/icons/dognav.png); 
        background-position: center;
        background-size: contain;
        background-color: transparent;
        
    }
    &__profile {
        width: 28px;
        height: 28px;
        background-image: url(../../../public/assets/icons/boy.png); 
        background-position: center;
        background-size: contain;
        background-color: transparent;
        
    }
    &__profile img {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        border: 1px solid $ocean-color;
        
    }
    &__more {
        width: 30px;
        height: 30px;
        background-image: url(../../../public/assets/icons/more.png); 
        background-position: center;
        background-size: contain;
        background-color: transparent;
        
    }
}
.c-navbar-button__home:hover,
.c-navbar-button__home:focus,
.c-navbar-button__home:visited {
    background-image: url(../../../public/assets/icons/home-red.png); 
}
.c-navbar-button__map:hover,
.c-navbar-button__map:focus,
.c-navbar-button__map:visited {
    background-image: url(../../../public/assets/icons/mapnav-red.png); 
}

.active {
    color:red;
}



