@import './../../scss/colors.scss';

.p-adoptstatus-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: black;
}
.p-adoptstatus-holder{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.p-adoptstatus-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;

    height: 6vh;
    margin-top: 10vh;
    &__filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 80vw;
        margin-top: 10px;
    }
    & h6 {
        color: $ocean-color;
        font-size: 24px;
        border-bottom: 1px solid $ocean-color;
    }
}
.p-button-filter {
    background-color: transparent;
    background-image: url(./../../../public/assets/icons/filter.png);
    background-size: contain;
    width: 24px;
    height: 24px;
}
.p-adoptstatus-gallery {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    margin-bottom: 10px;
    color: black;
    }
.c-adoptstatus-gallery-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 334px;

    height: 300px;
    margin: 20px;
    border: 2px solid $cloudyblue-color;
    border-radius: 5px;
    &__img {
        width: 330px;
        height: 210px;   
    }
    &__img  img{
        overflow: hidden;
        object-fit: cover;
        width: 330px;
        height: 210px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    &__text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: black;
        padding: 0 10px 0 10px;
    }
    &__text h4 {
        font-size: 22px;
        color: $ocean-color;
        font-family: 'Gilroy Bold';
        font-weight: 900;
        opacity: 80%;
    }
    &__text h6 {
        font-size: 12px;
        color: $black-color;
        font-weight: 600;
        padding: 10px;
    }
    & button {
        background-color: transparent;
        position: relative;
        right: -290px;
        top: -190px;
    }
    & button img {
        width: 24px;
    }

}   
    .c-adoptstatus-gallery-holder{
        width: 100vw;
        height: 74vh;
        &__box {
            margin: 20px;
        }
      }
.p-adoptstatus-pets {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    & a {
        font-size: 16px;
        font-weight: 600;
        color: $ocean-color;
    }
    & a img{
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    & p {
        font-size: 12px;
    }
}
.p-adoptstatus-filter-close button {
    background-color: transparent;
}
.p-adoptstatus-filter-container {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center; 
}


.p-adoptstatus-filter-holder {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 400px;
    align-items: center;
    justify-content: center;
}
.p-adoptstatus-filter-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    & button {
        width: 75px;
        height: 70px;
        font-size: 10px;
        background-color: transparent;
        border: 2px solid $cloudyblue-color;
        border-radius: 5px;
        color: $ocean-color;
        margin: 10px;
        padding-top: 40px;
        line-height: 12px;
    }
    &__dog {
        background-image: url(./../../../public/assets/icons/perrop.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40%;
        background-position-y: 12px;
    }
    
    &__cat {
        background-image: url(./../../../public/assets/icons/cat.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35%;
        background-position-y: 12px;
    }
    &__rabbit {
        background-image: url(./../../../public/assets/icons/rabbit.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25%;
        background-position-y: 12px;
    }
    &__hamster {
        background-image: url(./../../../public/assets/icons/hamster.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 45%;
        background-position-y: 20px;
    }
    &__coati {
        background-image: url(./../../../public/assets/icons/coati.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 45%;
        background-position-y: 12px;
    }
    &__ferret {
        background-image: url(./../../../public/assets/icons/ferret.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 45%;
        background-position-y: 15px;
    }
    &__fish {
        background-image: url(./../../../public/assets/icons/fish.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 45%;
        background-position-y: 19px;
    }
    &__snake {
        background-image: url(./../../../public/assets/icons/snake.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40%;
        background-position-y: 15px;
    }
    &__frog {
        background-image: url(./../../../public/assets/icons/frog.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40%;
        background-position-y: 20px;
    }
    &__spider {
        background-image: url(./../../../public/assets/icons/spider.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40%;
        background-position-y: 12px;
    }
    &__bird {
        background-image: url(./../../../public/assets/icons/bird.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40%;
        background-position-y: 12px;
    }
    &-sex {
        margin-top: 40px;
    }
    &-sex__boy {
        background-image: url(./../../../public/assets/icons/male.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40%;
        background-position-y: 12px;
    }
    &-sex__girl {
        background-image: url(./../../../public/assets/icons/female.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35%;
        background-position-y: 12px;
    }
    &-sex__girl {
        background-image: url(./../../../public/assets/icons/female.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35%;
        background-position-y: 12px;
    }
    &-size {
        margin-top: 40px;
    }
    &-size__small {
        background-image: url(./../../../public/assets/icons/dog.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25%;
        background-position-y: 20px;
    }
    &-size__mid {
        background-image: url(./../../../public/assets/icons/dog.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35%;
        background-position-y: 16px;
    }
    &-size__big {
        background-image: url(./../../../public/assets/icons/dog.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 45%;
        background-position-y: 12px;
    }
    &__apply {
        margin-top: 40px;
    }
    
}
.p-adoptstatus-filter-button__dog:hover, 
.p-adoptstatus-filter-button__dog:visited {
        border: 2px solid $toamto-color;
        color: $toamto-color;
        opacity: 90%;
}
.p-adoptstatus-filter-button__cat:hover, 
.p-adoptstatus-filter-button__cat:visited {
        border: 2px solid $toamto-color;
        color: $toamto-color;
        opacity: 90%;
}
.p-adoptstatus-filter-button__bird:hover, 
.p-adoptstatus-filter-button__bird:visited {
        border: 2px solid $toamto-color;
        color: $toamto-color;
        opacity: 90%;
}
.p-adoptstatus-filter-button-sex__boy:hover, 
.p-adoptstatus-filter-button-sex__boy:visited {
        border: 2px solid $toamto-color;
        color: $toamto-color;
        opacity: 90%;
}
.p-adoptstatus-filter-button-sex__girl:hover, 
.p-adoptstatus-filter-button-sex__girl:visited {
        border: 2px solid $toamto-color;
        color: $toamto-color;
        opacity: 90%;
}
.p-adoptstatus-filter-button-size__small:hover, 
.p-adoptstatus-filter-button-size__small:visited {
        border: 2px solid $toamto-color;
        color: $toamto-color;
        opacity: 90%;
}
.p-adoptstatus-filter-button-size__mid:hover, 
.p-adoptstatus-filter-button-size__mid:visited {
        border: 2px solid $toamto-color;
        color: $toamto-color;
        opacity: 90%;
}
.p-adoptstatus-filter-button-size__big:hover, 
.p-adoptstatus-filter-button-size__big:visited {
        border: 2px solid $toamto-color;
        color: $toamto-color;
        opacity: 90%;
}

.p-adoptstatus-filter-button__apply button {
    width: 306px;
    height: 35px;
    color: $white-color;
    background-color: $toamto-color;
    border: 2px solid $toamto-color;
    margin-bottom: 20px;
    border-radius: 4px;
    margin: 10px;
    opacity: 90%;
}
