@import './../../scss/colors.scss';

.p-profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
}
.p-profile-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}
.foto-user{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 2px solid rgb( 1, 116 ,142);
    border-radius: 50px;
    img{
        width: 66px;
        height: 66px;
        border-radius: 50px;
    }

}
.button-container{
    margin-top: 24px;
}
.button-container button {
    max-width: 400px;
}

