@import './../../scss/colors.scss';

.c-addpet-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.c-addpet-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    &__blue {
        width: 196px;
        height: 40px;
        color: $white-color;
        background-color: $ocean-color;
        margin-bottom: 20px;
        border-radius: 4px;
    }
}