@import './../../scss/colors.scss';

.o-c-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.o-c-button{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    padding: 20px;
}
.o-c-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin-top: -30vh;
    &__img {
        height: 156px;
        width:  238px;
    }
    &__caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40vh;
        margin-top: 10vh;
    &__caption h4 {
        color: $ocean-color !important;
        height: 90px;
        width: 256px;
        font-size: 25px;
    }
    &__caption p {
        color: $black-color !important;
         font-size: 16px;
    
    }             
    }
}
.o-c-holder {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    width: 100vw;
}

.carousel-indicators [data-bs-target] {  
    width: 15px !important;
    height: 15px !important;
    background-color: rgb(250, 156, 147) !important;
    border-radius: 50% !important;
    margin: 5px;
}


.o-c-card__caption {
    display: flex;
    & h4 {
        color: $ocean-color !important;
        font-size: 25px;
    }
    & p {
        color: $black-color !important;
         font-size: 14px;
    } 
}

