

$ice-color: rgb(241, 255, 250);
$tiffanyBlue-color: rgb(106, 247, 221);
$black-color: rgb(45, 45, 45);
$gray-color: rgb(216, 216, 216);
$greyish-color: rgb(85, 85, 85);
$squash-color: rgb(245, 166, 35);
$toamto-color: rgb(244, 67, 50);
$white-color: rgb(255, 255, 255);
$brown-color: rgb(202, 84, 27);
$cloudyblue75-color: rgb(175, 211, 219);
$cloudyblue-color: rgb(189, 210, 214);
$pinegreen-color: rgb(14, 54, 61);
$ocean-color: rgb(1, 116, 142);
