@font-face {
    font-family: 'Gilroy Bold';
    src: url('./../../public/assets/fonts/gilroy/Gilroy-Bold.ttf');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Gilroy Medium';
    src: url('./../../public/assets/fonts/gilroy/Gilroy-Medium.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Gilroy Regular';
    src: url('./../../public/assets/fonts/gilroy/Gilroy-Regular.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Gilroy Light';
    src: url('./../../public/assets/fonts/gilroy/Gilroy-Light.ttf');
    font-weight: 100;
  }